<!DOCTYPE html>
<html>
<head>
    <title>LOGIN</title>
    LOGIN
</head>
<body>
<form>
    Enter Name:<input type="text">
    <br>
    Enter Password:<input type="password">
    <input type="button" value="LOGIN">
</form>
</body>
</html>
